
<section class="vh-100" style="background-color: #508bfc;">
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
       
        <div class="field ">
            <form action="/auth/login" method="post" >
                <div class="form-group">
                <input class="form-control form-control-lg" type="email" name="email" placeholder="email"></div>
                <div class="form-group">
                <input class="form-control form-control-lg" type="password" name="password" placeholder="Password"></div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button>
            </form>
             <hr>
             
            <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;" onclick="location.href='/auth/github'">Autenticarse con GITHUB</button>
            <h5 style="padding-top: 1rem;">¿Aún no te has registrado?</h5>
            <button class="btn btn-lg btn-block btn-primary mb-2" onclick="location.href='/auth/register'">Crea tu usuario aquí</button>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
</div>
</section>